.productos {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    width: 250px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.productos:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.productos h4 {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
}

.productos img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.productos p {
    font-size: 16px;
    font-weight: bold;
    color: #1a73e8;
    margin-bottom: 20px;
}

.productos button {
    padding: 10px 20px;
    background-color: #1a73e8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.productos button:hover {
    background-color: #155ab6;
}

.productos button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}